<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- SETUP -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- STYLE -->
        <link rel="stylesheet" href="/static/style/navbar.css">
        <link rel="stylesheet" href="/static/style/account.css">
        <link rel="stylesheet" href="/static/style/root.css">

        <!-- JAVASCRIPT -->
        <script src="/static/js/accountInfo.js"></script>

        <!-- TITLE -->
        <title>Profile - Mathys NOURRY</title>

        <!-- FONTS -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">

        <!-- ICONS -->
        <script src="https://kit.fontawesome.com/500432588b.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <nav class="navbar">
            <ul class="nav-list nav-list-left">
                <li class="nav-item"><a class="animated" href="/home">Home</a></li>
                <li class="nav-item"><a class="animated" href="/about">About</a></li>
                <li class="nav-item"><a class="animated" href="/cv">CV</a></li>
                <li class="nav-item"><a class="animated" href="/portfolio">Portfolio</a></li>
                <li class="nav-item"><a class="animated-icon" href="https://github.com/mathysn" target="_blank"><i class="fa-brands fa-github"></i></a></li>
            </ul>
            <ul class="nav-list nav-list-right">
                <% if(!loggedIn) { %>
                    <li class="nav-item"><a class="animated" href="/login">Login</a></li>
                    <li class="nav-item"><a class="animated" href="/register">Register</a></li>
                <% } else { %>
                    <% if(role === "Administrator" || role === "Moderator") { %>
                        <li class="nav-item"><a class="dashboard-btn" href="/dashboard">Dashboard</a></li>
                    <% } %>
                    <li class="nav-item"><a id="logged-username" href="/account">Logged in as <span class="animated"><%= username %></span></a></li>
                    <li class="nav-item"><a class="animated" href="/logout">Logout</a></li>
                <% } %>
            </ul>
        </nav>

        <div class="container">
            <div class="split-screen">
                <div class="split-screen-left">
                    <h2 class="titles">My account</h2>
                    <ul class="vertical-nav-list">
                        <li class="vertical-nav-item"><button id="account-details"><i class="fa-solid fa-chevron-right"></i> Details</button></li>
                        <li class="vertical-nav-item"><button id="account-security"><i class="fa-solid fa-chevron-right"></i> Security</button></li>
                    </ul>
                    <ul class="vertical-nav-list-bottom">
                        <li class="vertical-nav-item bottom"><a href="/account/delete"><i class="fa-solid fa-trash"></i> Delete account</a></li>
                    </ul>
                </div>


                <div class="split-screen-right">
                    <div id="category-account-details">
                        <h2 class="titles">Details</h2>
                        <!-- variables to use for the profile: username, email, hidden password, role, creation date, first name, last name, phone number, etc... -->
                        <!-- TODO: split screen with on the left basic labels (e.g. Personal Info, Email Adress, etc...) and on the right the info with buttons to edit the profile -->
                        <div class="category-split-screen">
                            <div class="category-split-screen-left">
                                <ul class="vertical-list">
                                    <li class="vertical-list-item">Profile picture</li>
                                    <li class="vertical-list-item">Personal information</li>
                                    <li class="vertical-list-item">Role</li>
                                    <li class="vertical-list-item">Email address</li>
                                </ul>
                            </div>
                            <div class="category-split-screen-right">

                            </div>
                        </div>
                    </div>
                    <div id="category-account-security">
                        <h2 class="titles">Security</h2>
                    </div>
                </div>
            </div>
        </div>

        <footer class="footer">
            <p>&copy; 2023 sij's test app. All rights reserved.</p>
        </footer>
    </body>
</html>