<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- SETUP -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.5">

        <!-- STYLE -->
        <link rel="stylesheet" href="/static/style/navbar.css">
        <link rel="stylesheet" href="/static/style/cv.css">
        <link rel="stylesheet" href="/static/style/root.css">

        <!-- JAVASCRIPT -->
        <script src="/static/libs/pdf.js"></script>
        <script src="/static/libs/pdf.worker.js"></script>

        <!-- TITLE -->
        <title>CV - Mathys NOURRY</title>

        <!-- FONTS -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">

        <!-- ICONS -->
        <script src="https://kit.fontawesome.com/500432588b.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <nav class="navbar">
            <ul class="nav-list nav-list-left">
                <li class="nav-item"><a class="animated" href="/home">Home</a></li>
                <li class="nav-item"><a class="animated" href="/about">About</a></li>
                <li class="nav-item"><a class="animated active" href="/cv">CV</a></li>
                <li class="nav-item"><a class="animated" href="/portfolio">Portfolio</a></li>
                <li class="nav-item"><a class="animated-icon" href="https://github.com/mathysn" target="_blank"><i class="fa-brands fa-github"></i></a></li>
            </ul>
            <ul class="nav-list nav-list-right">
                <% if(!loggedIn) { %>
                    <li class="nav-item"><a class="animated" href="/login">Login</a></li>
                    <li class="nav-item"><a class="animated" href="/register">Register</a></li>
                <% } else { %>
                    <% if(role === "Administrator" || role === "Moderator") { %>
                        <li class="nav-item"><a class="dashboard-btn" href="/dashboard">Dashboard</a></li>
                    <% } %>
                    <li class="nav-item"><a id="logged-username" href="/account">Logged in as <span class="animated"><%= username %></span></a></li>
                    <li class="nav-item"><a class="animated" href="/logout">Logout</a></li>
                <% } %>
            </ul>
        </nav>

        <div class="container">
            <div class="pdf-viewer">
                <a id="dl-pdf" href="/static/assets/CV_Mathys_NOURRY.pdf" download target="_blank"><i id="pdf-icon" class="fa-regular fa-file-pdf"></i> Download PDF</a>
                <canvas id="pdf"></canvas>
            </div>

        </div>

        <footer class="footer">
            <p>&copy; 2023 sij's test app. All rights reserved.</p>
        </footer>

        <script src="/static/js/renderPdf.js"></script>
    </body>
</html>