<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- SETUP -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- STYLE -->
        <link rel="stylesheet" href="/static/style/navbar.css">
        <link rel="stylesheet" href="/static/style/login.css">
        <link rel="stylesheet" href="/static/style/root.css">

        <!-- JAVASCRIPT -->
        <script src="/static/js/showPassword.js"></script>

        <!-- TITLE -->
        <title>Login - Mathys NOURRY</title>

        <!-- FONTS -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">

        <!-- ICONS -->
        <script src="https://kit.fontawesome.com/500432588b.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <%- include('./navbar.ejs') %>

        <div class="container">

            <div class="login-form">
                <h2>Login</h2>
                <form action="/login" method="POST">
                    <% if(errMsg !== null) { %>
                        <div class="error-message">
                            <p><%- errMsg %></p>
                        </div>
                    <% } %>

                    <label for="email">Email</label>
                    <% if (email === null) { %>
                        <input type="email" id="email" name="email" required>
                    <% } else { %>
                        <input type="email" id="email" name="email" value="<%= email %>" required>
                    <% } %>

                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" required>

                        <p class="show-password">
                            <input type="checkbox" id="show-password" onclick="toggleShowPassword()">
                            <label for="show-password">Show Password</label>
                        </p>

                    <button type="submit">Login</button>

                    <a id="no-account" href="/register">Don't have an account? Register now!</a>
                </form>
            </div>
        </div>


        <footer class="footer">
            <p>&copy; 2023 sij's test app. All rights reserved.</p>
        </footer>
    </body>
</html>