* {
    margin: 0;
    padding: 0;

}

body {
    font-family: Montserrat, sans-serif;
}

.container {
    margin: 0 auto;
    /*width: 100vw;*/
    min-height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--color-background);
}

.pdf-viewer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 810px;
    margin-top: 85px;
    margin-bottom: 10px;
}

#pdf {
    overflow: hidden;
    width: 100%;
}

#dl-pdf {
    width: fit-content;
    margin: 15px 0;
    color: var(--color-text-light);
    font-size: 20px;
    text-decoration: none;
    padding: 15px;
    border-radius: 50px;
    background-color: var(--color-contrast);
    transition: background-color 0.3s ease;
}

#dl-pdf:hover {
    background-color: var(--color-contrast-hover);
}