* {
    margin: 0;
    padding: 0;

}

body {
    font-family: Montserrat, sans-serif;
}

/* Main content styles */
.container {
    max-width: 90vw;
    margin: 0 auto;
    padding: 20px;
}

.container > h1 {
    text-align: center;
}
