* {
    margin: 0;
    padding: 0;

}

body {
    font-family: Montserrat, sans-serif;
}

/* Main content styles */
.container {
    margin: 0 auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
}

.title {
    color: var(--color-text-light);
    text-align: center;
}
