* {
    margin: 0;
    padding: 0;

}

body {
    font-family: Montserrat, sans-serif;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body::-webkit-scrollbar {
    display: none;
}

/* Main content styles */
.head-container {
    margin: 0 auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);*/
}

.container {
    margin: 0 auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.introduction {
    max-width: fit-content;
    color: var(--color-text-light);
}

.title, .subtitle {
    max-width: fit-content;
    margin: auto;
}

.subtitle {
    margin-left: 130px;
}

