* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Montserrat, sans-serif;
}

.error-message {
    padding: 15px;
    border-radius: 5px;
    color: var(--color-text-light);
    background-color: var(--color-alert-error);
    margin-bottom: 10px;
}

#error-msg-link {
    color: var(--color-text-light);
}

.container {
    margin: 0 auto;
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--color-background);
}

.login-form {
    width: 400px;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.2);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;

    user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

input[type="email"],
input[type="text"],
input[type="password"] {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.show-password {
    margin-top: -5px;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    background-color: var(--color-btn-submit);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: var(--color-btn-submit-hover);
}

#no-account {
    width: fit-content;
    margin-top: 10px;
    font-size: 14px;
    text-decoration: none;
    color: #333;
}