/* Navbar styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-background); /* TODO: need to make the navbar transparent for the other pages cuz that shit is ugly rn */
    /*box-shadow: #6b6b6b 1px 1px 3px;*/
    height: 85px;
    z-index: 999;
}

.nav-list {
    display: flex;
    list-style-type: none;
    margin: 10px;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 20px;
    border-radius: 50px;
}

.nav-item {
    padding: 0 10px;
}

.animated {
    display: inline-block;
    position: relative;
    text-decoration: none;
    font-size: 20px;
    padding: 0;
    color: var(--color-nav-text);
}

.animated::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -2.5px;
    left: 0;
    background-color: var(--color-contrast);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.animated:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

#logged-username {
    display: inline-block;
    text-decoration: none;
    font-size: 20px;
    padding: 0;
    color: var(--color-nav-text);
}

#logged-username > .animated {
    color: var(--color-contrast);
}

.dashboard-btn {
    min-width: 130px;
    padding: 10px 10px;
    font-size: 20px;
    text-decoration: none;
    color: var(--color-text-light);
    border-radius: 7px;
    background-color: #b95e5e;
    transition: background-color 0.3s ease;
}

.dashboard-btn:hover {
    background-color: #a95454;
}

/* Footer styles */
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
    padding: 10px;
    height: 30px;
}