* {
    margin: 0;
    padding: 0;

}

body {
    font-family: Montserrat, sans-serif;
}

.container {
    margin: 0 auto;
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--color-background);
}

.profile-container {
    width: 400px;
    margin: 250px auto;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.2);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.info-list {
    list-style: none;
}