* {
    margin: 0;
    padding: 0;

}

body {
    font-family: Montserrat, sans-serif;
}

.container {
    max-width: 400px;
    margin: 250px auto;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.info-list {
    list-style: none;
}