:root {
    /*--color-background: #2B4162;*/
    --color-background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
    --color-nav-text: #fff8ee;
    --color-text-dark: #333;
    --color-text-light: #fff8ee;
    --color-contrast: #D5573B;
    --color-btn-submit: #4caf50;
    --color-btn-submit-hover: #45a049;
}